<!DOCTYPE html>
<html>
<head>
    <title>Stock Data</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Stock Data</h1>
    <p>Date: {{ date }}</p>
    <p>Open: {{ open }}</p>
    <p>High: {{ high }}</p>
    <p>Low: {{ low }}</p>
    <p>Close: {{ close }}</p>
    <p>Volume: {{ volume }}</p>
<div id="chart"></div>
</div>
</body>
</html>
<script src="https://unpkg.com/lightweight-charts@3.3.0/dist/lightweight-charts.standalone.production.js"></script>
<script>
    var chart = LightweightCharts.createChart(document.getElementById('chart'), {
        width: 600,
        height: 300,
        layout: {
            backgroundColor: '#ffffff',
            textColor: 'rgba(0, 0, 0, 0.9)',
        },
        grid: {
            vertLines: {
                color: 'rgba(197, 203, 206, 0.5)',
            },
            horzLines: {
                color: 'rgba(197, 203, 206, 0.5)',
            },
        },
        crosshair: {
            mode: LightweightCharts.CrosshairMode.Normal,
        },
        rightPriceScale: {
            borderColor: 'rgba(197, 203, 206, 0.8)',
        },
        timeScale: {
            borderColor: 'rgba(197, 203, 206, 0.8)',
        },
    });

    var candleSeries = chart.addCandlestickSeries({
        upColor: '#00ff00',
        downColor: '#ff0000',
        borderUpColor: '#00ff00',
        borderDownColor: '#ff0000',
        wickUpColor: '#00ff00',
        wickDownColor: '#ff0000',
    });

    var data = [
        { time: "{{ datetime[0] }}", open: {{ open[0] }}, high: {{ high[0] }}, low: {{ low[0] }}, close: {{ close[0] }} },
        { time: "{{ datetime[1] }}", open: {{ open[1] }}, high: {{ high[1] }}, low: {{ low[1] }}, close: {{ close[1] }} },
        { time: "{{ datetime[2] }}", open: {{ open[2] }}, high: {{ high[2] }}, low: {{ low[2] }}, close: {{ close[2] }} },
        { time: "{{ datetime[3] }}", open: {{ open[3] }}, high: {{ high[3] }}, low: {{ low[3] }}, close: {{ close[3] }} },
        { time: "{{ datetime[4] }}", open: {{ open[4] }}, high: {{ high[4] }}, low: {{ low[4] }}, close: {{ close[4] }} },
    ];

    candleSeries.setData(data);
</script>
